# ANSYS Fluent files
*.cas
*.dat
*.cas.h5
*.dat.h5
*.pt

# HDF5 files
*.h5

# Generated / output folders
generated/
contour_comparisons/

# Images
*.png

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/
env/
ENV/
myenv/

# Environment variables
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db